<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Library Loan-System Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html">Library-Loan System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="booksonloan.html">Books on Loan</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="students.html">Manage Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="books.html">Manage Books</a>
          </li>
        </ul>
      </div>
</nav>

<h1>Search Books</h1>
<form>
 <label for="search"></label>
  <input type="text" id="bookid" name="bookid"><br><br>
   <input type="submit" value="Search">
</form>
  <br>
  <h1>Manage Books</h1>
  <br>
  <input type="button" name="add_book" value="Add a Book" onclick="window.location = 'addbook.html'">
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Year Published</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">The Great Gatsby</th>
        <td>F. Scott Fitzgerald</td>
        <td>Tragedy</td>
        <td>1925</td>
        <td>
          <input type="button" name="update_book" value="update" onclick="window.location = 'updatebook.html'">
          <input type="button" name="delete_book" value="delete">
        </td>
      </tr>
      </tbody>
    </table>
  </body>
</html>
