<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Library Loan-System Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index">Library-Loan System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="booksonloan">Books on Loan</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="students">Manage Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="books">Manage Books</a>
          </li>
        </ul>
      </div>
    </nav>
      <h1>Books on Loan</h1>
      <br>
      <input type="button" name="checkoutbook" value="Loan a Book" onclick="window.location = 'addloanbook.html'">
      <br><br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Loan ID</th>
            <th scope="col">Student ID</th>
            <th scope="col">Book ID</th>
            <th scope="col">Date Loaned</th>
            <th scope="col">Date Due</th>
            <th scope="col">Date Returned</th>
            <th scope="col">Late Fee</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>23</td>
            <td>25</td>
            <td>5/3/20</td>
            <td>6/3/20</td>
            <td>7/7/10</td>
            <td>10</td>
            <td>
              <input type="button" name="updateloanedbook" value="update" onclick="window.location = 'updateloanbook.html'">
              <input type="button" name="deleteloanedbook" value="delete">
            </td>
          </tr>
        </tbody>
      </table>
  </body>
  </html>