<!--Update Student Page-->
{% extends "base.html" %}

{% block content %}
<!--Display current student information-->
<table class="table table-bordered" id="student">
  <thead>
    <tr>
      <th scope="col">Current First Name</th>
      <th scope="col">Current Last Name</th>
      <th scope="col">Current Email</th>
    </tr>
  </thead>
  {% for currentinfo in student %}
  <tr>
    <td>{{currentinfo[1]}}</td>
    <td>{{currentinfo[2]}}</td>
    <td>{{currentinfo[3]}}</td>
  </tr>
  {% endfor %}
</table>

<br>

<!--Form to update student information-->
<form action="/updatestudent/{{studentID[0]}}" method='POST'>
    <fieldset>
      <h4>Update student:</h4>
        <input type="hidden" name="id" id="id" value = "{{studentID[0]}}">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" required>
        <br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <input type="submit" value="Submit">
    </fieldset>
  </form>
<a href="{{url_for('students')}}"><button>Return to Students Page</button></a>
{% endblock %}